html, body {
  position: relative;
  height: 100%;
  margin: 0;
}


body {}

.film {
  position: relative;
}

.row {
  display: block; position: relative; /*overflow: hidden;*/
  width: 900px;
  margin: 0 auto;
}

.screen {
  height: 100vh;
}

.splash {
  /*z-index: 1000;*/
  position: relative; overflow: hidden;
  display: block;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
}

.splash > .overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: #000; opacity: 1;
}

.splash .quote {
  display: block; position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  font-family: Source Sans Pro; font-weight: 300; font-size: 2.5rem;
  line-height: 1.4;
  text-align: center;
  transform: translateY(-50%);
}

.splash .title {
  display: block; position: fixed;
  top: 50%;
  max-width: 800px;
  font-family: Aldrich; font-size: 6rem; font-weight: 700;
  line-height: 6rem;
  color: #fff; /*color: #69f;*/
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-50%);
}

.year {
  font-family: Source Sans Pro;
  display: block;
  margin-top: -1.5rem;
  font-size: 4rem;
  /*color: rgba(255, 255, 255, 0.75);*/
}


.text {
  padding: 128px 0 256px 0;
  min-height: 100vh;
}

.text p {
  width: 600px;
  margin-left: auto; margin-right: auto;
  color: #333;
  font-size: 17px;
  line-height: 1.75;
}




/*
.splash {
  position: relative; overflow: hidden;
  display: block;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
}

.splashOverlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: #000; opacity: 1;
}

.titleContainer, .quoteContainer {
  display: flex; display: -webkit-flex; align-items: center;
  position: absolute;
  top: 0; bottom: 0;
}

.titleContainer {
  position: fixed; max-width: 800px;
}


.quote {
  color: #fff;
  font-family: Lilita One; font-size: 2.5rem;
  text-shadow: 1px 1px 2px #000;
}

.title {
  color: #fff;
  font-family: Aldrich, Lilita One; font-size: 6rem; font-weight: 700;
  line-height: 6rem;
  text-transform: uppercase;
  opacity: 0;
}


.text {
  margin: 72px 0;
}
*/

.quote:before { content: "« ";}
.quote:after { content: " »";}


