
html {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  background-color: #fff; color: #222;
  font-family: Source Sans Pro;

}


h1 {
  margin: 0;
  font-family: Lilita One;
  text-transform: uppercase;
  font-size: 2.5rem;
}


/*
.above {
  position: relative;
  z-index: 2;
}

.below {
  position: relative;
  z-index: 1;
}
*/

section {
  position: relative;
  width: 100%;
}

section#title {
  overflow: hidden;
  height: 100vh;
  background-image: url("../../img/36092-2.jpg"); background-size: cover;
}


section#title h1 {
  display: block; position: relative;
  top: 40%; left: -1000px;
  width: calc(100% + 2000px);
  color: #fff;
  font-family: Lilita One; font-size: 5rem;
  text-align: center; white-space: nowrap;
  overflow: hidden;
  cursor: default;

  /*  animation */
  letter-spacing: 10rem;
  animation-name: animation1;
  animation-delay: 0.25s;
  animation-duration: 0.75s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

section#mapContainer {
  position: relative;
  overflow: hidden;
  /*outline: solid 1px red;*/
  background-color: #fff;
  z-index: 100;
}

div#map {
  height: 40vh;
  margin-bottom: 4px;
}


section#text {
  /*padding-top: 45vh;*/
  padding-top: 48px;
}

section#text h2 {
  padding-bottom: 1rem;
  /*font-family: Playball; */ font-family: Lilita One; font-size: 3rem; font-weight: 600;
  /*color: #f63;*/
  text-transform: uppercase;
  /*text-shadow: 1px 1px 1px #333;*/
}

section#text a {
  display: inline-block;
  padding: 1px 4px; /*border: solid 1px #222;*/
  color: inherit; background-color: rgba(255, 255, 255, 0.5);
  /*border-radius: 4px;*/
}

section#text a:hover {
 background-color: rgba(255, 255, 255, 0.65); 
}


@-moz-keyframes animation1 {
  0% { letter-spacing: 10rem; }
  100% { letter-spacing: 0rem; }
}

/*
.col1 { color: #5781fc !important; }
.col2 { color: #fcf357 !important; }
.col3 { color: #00e13c !important; }
.col5 { color: #ff9900 !important; }
*/

p:first-child:first-letter {}
